.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  margin-top: 30px;
  z-index: 10; }
  .nav.fixed {
    background: rgba(0, 0, 0, 0.8); }

.nav__list {
  display: inline-block; }

.nav__item {
  float: left;
  margin-right: 10px; }
  .nav__item:last-child {
    margin-right: 0; }
  .nav__item.active .nav__link {
    background: rgba(255, 255, 255, 0.4); }

.nav__link {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 10px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  text-decoration: none; }
  .nav__link:hover {
    background: rgba(255, 255, 255, 0.4); }
