@import "susy";

// Susy Grid Config
// For more information: http://susydocs.oddbird.net/en/latest/settings/
//output: overlay / background 
//gutter-position: after / inside,
$susy: (
 	columns: 12,
 	gutters: 1/4,
	container: 1024px,
	math: fluid,
	output: float,
	gutter-position: after,
	debug: (
	    image: show,
	    color: rgba(blue, .3),
	    output: overlay,
	    toggle: top right,
  	)
);

/* Susy Grid Rules */

.container {
	@include container();
}