
//@import "fonts/fonts.css";
@import "bootstrap.min";
@import "bootstrap-theme.min";
@import "variables";
@import "base";
@import "mixins";
@import "animations";
@import "jquery.fullPage";
//@import "angular-material.min";


//blocks
@import "./blocks/nav/nav.scss";
@import "./blocks/face/face.scss";
@import "./blocks/js/js.scss";
@import "./blocks/services/services.scss";
@import "./blocks/project/project.scss";
@import "./blocks/contacts/contacts.scss";

.sticky{
	color: red;
	font-weight: bold;
}
.notSticky{
	color: blue;
	font-weight: bold;
}