.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .nav.fixed {
    background: rgba(0, 0, 0, 0.8); }
  .nav.active {
    background: #171717; }

.nav__list {
  margin-bottom: 0;
  line-height: 20px; }
  @media screen and (max-width: 768px) {
    .nav__list {
      float: none !important;
      padding-left: 10px; } }

.nav__item {
  float: left;
  margin-right: 10px; }
  .nav__item:last-child {
    margin-right: 0; }
  .nav__item.active .nav__link {
    background: rgba(255, 255, 255, 0.4); }

.nav__link {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 10px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  display: block; }
  .nav__link:focus {
    text-decoration: none;
    color: #fff; }
  .nav__link:hover, .nav__link.active {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.4); }
  @media screen and (max-width: 768px) {
    .nav__link {
      padding: 9px 10px; } }

.nav__row {
  height: 50px;
  line-height: 50px; }
  @media screen and (max-width: 768px) {
    .nav__row {
      height: auto;
      line-height: 1.2em; } }

.nav__logo {
  width: 30px;
  height: 40px;
  display: inline-block;
  background: url(../../img/logo.png) 0 0 no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-right: 10px;
  opacity: .8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
